name: "Terraform Workflow"

on:
    workflow_call:
        inputs:
            environment:
                type: string
                required: true
            aws-assume-role-arn:
                type: string
                required: true
            aws-region:
                type: string
                required: true
            aws-statefile-s3-bucket:
                type: string
                required: true
            aws-lock-dynamodb-table:
                type: string
                required: true

jobs:
    terraform:
        runs-on: ubuntu-latest

        defaults:
            run:
                shell: bash

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v2
              with:
                  terraform_version: 1.5.6

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2 
              with:
                  role-to-assume: ${{ inputs.aws-assume-role-arn }}
                  role-session-name: GitHub_to_AWS_via_FederatedOIDC    
                  aws-region: ${{ inputs.aws-region }}

            - name: Terraform Init
              run: |
                    cd infra && terraform init \
                        -backend-config="bucket=${{ inputs.aws-statefile-s3-bucket }}" \
                        -backend-config="key=${{ github.event.repository.name }}" \
                        -backend-config="region=${{ inputs.aws-region }}" \
                        -backend-config="dynamodb_table=${{ inputs.aws-lock-dynamodb-table }}"

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Plan
              id: terraform-plan
              run: |
                    cd infra && \
                    terraform workspace select ${{ inputs.environment }} ||terraform workspace new ${{ inputs.environment }} && \
                    terraform plan -var-files="./envs/${{ inputs.environment }}/terraform.tfvars" -out="${{ inputs.environment }}.plan"
            
            - name: Terraform Apply
              id: terraform-apply
              run: |
                    cd infra && \
                    terraform workspace select ${{ inputs.environment }} || terraform workspace new ${{ inputs.environment }} && \
                    terraform apply "${{ inputs.environment }}.plan"